:root {
    --background-color: #990011;
    --text-color: #FCF6F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Cormorant Garamond", serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.py {
    padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Black Ops One", system-ui;
}

button {
    background-color: var(--background-color);
}

/* navbar section  */
.navbar {
    background-color: var(--background-color);
    padding: 30px 0;
    text-align: center;
}

.navbar .navbar-content h2 {
    font-size: 30px;
}

/* carousel section  */

.carousel .carousel-content img {
    max-height: 800px;
    max-width: 100%;
}

.carousel .carousel-content button {
    padding: 10px 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.carousel .carousel-content button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}