:root {
    --background-color: #02343F;
    --text-color: #F0EDCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Cormorant Garamond", serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.py {
    padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Black Ops One", system-ui;
}

/* navbar section  */

.navbar {
    padding: 30px 0;
}

.navbar .navbar-content nav ul li a {
    margin: 0 20px;
    cursor: pointer;
}

/* add task section  */

.add-task-form .add-content .add-title h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.add-task-form .add-content .add-info p {
    font-size: 30px;
}

.add-task-form .add-content .add-info input {
    width: 50%;
    margin: 20px 0;
    height: 40px;
    outline: none;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.add-task-form .add-content .add-info input:hover {
    border-bottom: 2px solid lightcyan;
}

.add-task-form .add-content .add-info button {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.add-task-form .add-content .add-info button:hover {
    border: 2px solid lightcyan;
}

/* view task section  */

.view-task .view-content .view-title h2 {
    font-size: 40px;
}

.view-task .view-content table {
    width: 100%;
    margin: 50px 0;
}

.view-task .view-content table thead tr,
.view-task .view-content table tbody tr {
    border-bottom: 2px solid var(--text-color);
}

.view-task .view-content table thead tr th,
.view-task .view-content table tbody tr td {
    border: none;
    margin: 10px 0;
}

.view-task .view-content table tbody tr input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

.view-task .view-content table tbody tr td button {
    padding: 5px 10px;
}

.view-task .view-content table tbody tr td #edit {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

.view-task .view-content table tbody tr td #delete {
    background-color: red;
    color: black;
    border-radius: 5px;
}