:root {
    --background-color: #2BAE66;
    --text-color: #FCF6F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Cormorant Garamond", serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.py {
    padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Black Ops One", system-ui;
}

/* navbar seciton  */

.navbar {
    background-color: var(--background-color);
    padding: 40px 0;
}

.navbar .navbar-content h2 {
    font-size: 40px;
}

/* input section  */

.input .input-content input {
    height: 40px;
    width: 50%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0 0 5px 5px;
    color: black;
}

.input .input-content button {
    padding: 8px 30px;
    background-color: var(--background-color);
    font-size: 18px;
    border: none;
    border-radius: 0 0 15px 15px;
    transition: all 0.3s ease-in-out;
}

.input .input-content button:hover {
    border-radius: 15px 15px 0 0;
}

/* output section  */

.output .output-content h2 {
    color: var(--background-color);
    margin: 10px 0;
}