* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.py {
    padding: 100px 0;
}

/* quotes section */

.quotes .quotes-content {
    background-color: aquamarine;
    padding: 50px;
    border-radius: 20px;
}

.quotes .quotes-content .quotes-title h2 {
    font-size: 40px;
    text-align: center;
}

.quotes .quotes-content .quotes-info {
    margin: 100px 0;
    text-align: center;
}

.quotes .quotes-content .quotes-info p {
    font-size: 18px;
    font-style: italic;
}

.quotes .quotes-content .quotes-info h2 {
    float: right;
    padding: 20px;
}

.quotes .quotes-content .btn {
    text-align: center;
}

.quotes .quotes-content .btn button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: crimson;
    color: white;
    transition: all 0.3s ease-in-out;
}

.quotes .quotes-content .btn button:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 5px 1px gray;
}